/*
Desktop and defaults
*/
body {
      background-color: #ffffff;
      padding: 0%;
      margin: 0%;
}

/** Header And navigation. **/
header {
      background-color: #ffe7bf;
      height:5em;
}

header nav {
      float: right;
      width: 50%;
      display: flex;
      justify-content: space-around;
      align-items: center;
}

header nav a {
      list-style: none;
      font-family: 'Dosis', sans-serif;
      font-size: 220%;
      border: 1px;
}
header img {
      float: left;
      height: 40px;
      margin-bottom: 1em;
      margin-left: 1em;
      margin-right: 1em;
      position: absolute;
      top: 1.8em;
}

/* Footer */
footer {
      text-align: center;
      background-color: #ffe7bf;
      margin: 0%;
}

/* General content */
main {
      padding: 10%;
}

/* Index specific */
main h1 {
      font-family: 'Dosis', sans-serif;
}

main h2 {
      font-family: 'Dosis', sans-serif;
}

main figure {
      background-color: #ffe7bf;
      border-radius: 10%;
      width:fit-content
}

main figure img {
      border-radius: 10%;
      float: center;
      padding: 1em;
}

main figure figcaption {
      padding: 1em;
}

/** About me specifics **/
.lineup  img{
      height: 25px;
      padding: 10px;
}

/* Gallery specifcs */

/**Mobile and small screens**/

@media only screen and (max-width: 600px) {
      
      main {
        padding: 2%;
      }
}
      